@font-face {
    font-family: Mallory;
    src: url("../semantic/site/assets/fonts/mallory/Mallory-Medium.otf") format("opentype");
  }
  
  /* @font-face {
    font-family: MalloryBold;
    font-weight: bold;
    src: url("path/GraublauWebBold.otf") format("opentype");
  } */